services:
  groupoffice:
    ports: !override
      - "80:80"
      - "443:443"
    environment:
      MYSQL_DATABASE: groupoffice
      # for profiling set and enable the bind mount above:
      #XDEBUG_MODE: "profile"

  # Example of running another version next to the master branch. Duplicate this and the volumes below to create more versions,
  groupoffice-250:
    build:
      context: ./groupoffice
      dockerfile: twentyfivezero.Dockerfile
    restart: always
    ports:
      - "8250:80"
    links:
      - db
    volumes:
      - /Volumes/Projects/docker-groupoffice-development/src/63:/usr/local/share/src:delegated
      - "godata_250:/var/lib/groupoffice"
      - "goetc_250:/etc/groupoffice/multi_instance"
      - ./groupoffice/etc/groupoffice/globalconfig.inc.php:/etc/groupoffice/globalconfig.inc.php:delegated
    env_file:
      - ./db.env
    environment:
      MYSQL_USER: root
      MYSQL_DATABASE: groupoffice_250
      PHP_IDE_CONFIG: "serverName=localhost" #for PHPStorm path mappings in Preferences -> PHP -> Servers

    working_dir: /usr/local/share/src
    extra_hosts:
      - host.docker.internal:host-gateway



  # Discovery URL: http://host.docker.internal:9980
  # On Linux you have to add host.docker.internal to /etc/hosts
  collabora:
    image: collabora/code
    environment:
      domain: (.*\.group-office\.com|host\.docker\.internal|.*\.groupoffice\.net|172\.18\.0\.1)
      username: admin
      password: adminadmin
      extra_params: --o:ssl.enable=false
      DONT_GEN_SSL_CERT: 1
    volumes:
      - lo_config_volume:/etc/loolwsd
    cap_add:
      - MKNOD
    ports:
      - "9980:9980"
    restart:
      unless-stopped
    extra_hosts:
      - host.docker.internal:host-gateway

  # Use http://host.docker.internal:9080 in Group-Office as OnlyOffice server URL
  # only works when accessing GO on host.docker.internal
  # On Linux you have to add host.docker.internal to /etc/hosts
  onlyoffice:
    image: onlyoffice/documentserver
    ports:
      - "9080:80"
    restart:
      unless-stopped
    extra_hosts:
      host.docker.internal: host-gateway
    environment:
      # Uncomment strings below to enable the JSON Web Token validation.
      #- JWT_ENABLED=true
      #- JWT_SECRET=s3cr3t
      #- JWT_HEADER=Authorization
      #- JWT_IN_BODY=true

#  webgrind:
#    ports:
#      - "8002:8080"
#    image: wodby/webgrind
#    restart: always
#    environment:
#      WEBGRIND_PROFILER_DIR: /tmp
#      WEBGRIND_STORAGE_DIR: /tmp
#      PHP_MAX_EXECUTION_TIME: 1200,
#      WEBGRIND_DEFAULT_TIMEZONE: Europe/Amsterdam
#    volumes:
#      - "webgrind:/tmp"

#
#  testopenldap:
#    image: rroemhild/test-openldap
#    privileged: true
#    restart:
#      unless-stopped

#  mysql:
#    image: mysql
#    restart: always
#    environment:
#      MYSQL_ROOT_PASSWORD: groupoffice
#    env_file:
#      - ./db.env
#
#    volumes:
#      - "mysqldata:/var/lib/mysql"
#
#  mysqladmin:
#    image: phpmyadmin/phpmyadmin
#    restart: always
#    links:
#      - mysql:mysql
#    env_file:
#      - ./db.env
#    environment:
#      MYSQL_ROOT_PASSWORD: groupoffice
#
#      PMA_HOST: mysql
#
#      #Auto login as root
#      PMA_USER: root
#      PMA_PASSWORD: groupoffice
#
#      # Settings for configuration storage. You must create this database manually. See README.md
#      PMA_PMADB: phpmyadmin
#      PMA_CONTROLHOST: mysql
#      PMA_CONTROLPORT: 3306
#      PMA_CONTROLUSER: root
#      PMA_CONTROLPASS: groupoffice
#
#      UPLOAD_LIMIT: 3000000000
#
#    ports:
#      - 8003:80

# Can be used for automatic translations
# docker compose exec groupoffice php www/cli.php community/dev/Language/export --language=nl --translate --missingOnly
# libretranslate:
#  image: libretranslate/libretranslate
#  # To force model update
#  #command: --load-only en,nl,de,fr,es --port 5010 --threads 8 --update-models
#  command: --load-only en,nl,de,fr,es --port 5010 --threads 16
#  tty: true
#  restart:
#    unless-stopped
#  ports:
#    - 5010:5010
#  volumes:
#    - lt-local:/home/libretranslate/.local

      
volumes:
#  lo_config_volume:

  godata_250:
  goetc_250:

#  mysqldata:
